<h3>Home Team: <%= @matches.home_team_id.name %></h3>
<h3>Away Team: <%= @matches.away_team_id.name %></h3>

<%= link_to "Back to Players", players_path %>



t.integer "league_id"
    t.integer "home_team_id"
    t.integer "away_team_id"
    t.string "winner"
    t.integer "home_team_score"
    t.integer "away_team_score"